<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-hatyuruiryoseirui06.png', :size => '110x110' %>
    <h3><span class = "font-weight-bold center">マイページ</span></h3>
    <%= image_tag 'illustrain02-penguin03.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-penguin01.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <div class = "col-md-5 top-body-margin">
      <div class = "row">
        <div class = "col-lg-3 font-weight-bold top-body-margin">登録情報</div>
        <div class = "col-lg-9" align = "right">
          <div><%= link_to "編集する",edit_customers_path,class:"btn btn-stitch-light-blue" %></div>
        </div>
      </div>
      <table class = "Speech-bubble-light-blue" cellpadding="15">
        <tr class = "Speech-bubble-tr">
          <td class="Speech-bubble-th-light-blue Speech-bubble-th-light-blue:after">ニックネーム</td>
          <td class = "gray">
              <%=@customer.name %>
          </td>
        </tr>
        <tr class = "Speech-bubble-tr">
          <td class="Speech-bubble-th-light-blue Speech-bubble-th-light-blue:after">メールアドレス</td>
          <td class = "gray">
              <%=@customer.email %>
          </td>
        </tr>
      </table>
      <div>
        <%= link_to "お問い合わせ",new_inquiry_path,class:"btn btn-stitch-light-blue" %>
      </div>
    </div>
    <div class = "offset-md-1 col-md-6">
    </div>
  </div>
</div>
