<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-hatyuruiryoseirui06.png', :size => '110x110' %>
    <h3><span class = "font-weight-bold center">マイページ</span></h3>
    <%= image_tag 'illustrain02-penguin03.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-penguin01.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <table>
      <tr>
        <td class = "font-weight-bold">登録情報</td>
        <td><%= link_to "編集する",edit_customers_path,class:"btn btn-stitch-pink" %></td>
      </tr>
      <tr>
        <td class="pink">ニックネーム</td>
        <td>
            <%=@customer.name %>
        </td>
      </tr>
      <tr>
        <td class = "pink">メールアドレス</td>
        <td>
            <%=@customer.email %>
        </td>
      </tr>
    </table>
    <div>
    <%= link_to "お問い合わせ",new_inquiry_path,class:"btn btn-stitch-pink" %>
    </div>
  </div>
</div>
