<div class="container"> 
  <div class = "row">
    <%= image_tag 'illustrain02-dog03.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">お問い合わせ詳細</span></h3>
    <%= image_tag 'illustrain02-dog01.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dog18.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <div class = "offset-1">
      <table>
        <tr>
          <td>会員名</td>
          <td>
            <%=@inquiry.customer.name %>
          </td>
        </tr>
        <tr>
          <td>注文日</td>  
          <td>
            <%=@inquiry.created_at.strftime('%Y/%-m/%-d') %>
          </td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td>
            <%=@inquiry.title %>
          </td>
        </tr>
        <tr>
          <td>本文</td>
          <td>
            <%=@inquiry.body %>
          </td>
        </tr>
        <tr>
          <td width = 150>対応ステータス</td>
          <td>
            <%= form_with model:@inquiry,url:admin_inquiry_path,method: :patch do |f| %>
            <%= f.select :support_status, Inquiry.support_statuses_i18n.invert %>
            <%=f.submit '更新',class:"btn btn-stitch-green" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>