<div class="container">
    <h5><span class="bg-light text-dark">グループ名編集</span></h5>
        <% if @group.errors.any? %>
            <div class="alert alert-danger">
                <ul>
                    <% @group.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    
    <%= form_with model: @group,url: groups_path,local:true do |f| %>
    
    <table>
        <tr>
            <div class="field">
                <td>
                    <%= f.label :グループ名 %>
                </td>
                <td>
                    <%= f.text_field :name %>※ネット上に公開されるグループ名です
                </td>
            </div>
        </tr>
    </table>
    
    <div align="right">
      <%= f.submit '登録',class:"btn btn-success" %>
    </div>
    <% end %>
</div>