<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-dinosaur09.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">グループ検索</span></h3>
    <%= image_tag 'illustrain02-dinosaur10', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur07.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <table class = "table-margin1">
      <%= form_tag({controller:"groups",action:"search"},method: :get) do %>
        <tr>
          <td><span>グループ招待コード</span></td>
          <td><%=text_field_tag :token %></td>
          <td><%=submit_tag "検索",class:"btn btn-stitch-pink1" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class = "row">
    <div class = "col-6 table-margin1">
      <% unless @first %>
        <% if @group %>
          <h4><span class="font-weight-bold center">グループ検索結果</span></h4>
            <table class = "table">
              <thead class = "pink">
                <th>グループ名</th>
                <th>メンバー</th>
                <th></th>
              </thead>
              <tbody>
                <td><%= @group.name %></td>
                <td>
                  <% @group.customers.each do |member| %>
                    <%= member.name %><br>
                  <% end %>
                </td>
                <td>
                  <% if current_customer.group_id == @group.id %>
                    参加中
                    <%= form_with model: @customer,url: quit_groups_path do |f| %>
                      <%= f.hidden_field :group_id, :value => @group.id %>
                      <% unless @group.group_leader_customer_id == current_customer.id %>
                        <%= f.submit "脱退",class:"btn btn-success" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_with model: @customer,url: join_groups_path do |f| %>
                    <%= f.hidden_field :group_id, :value => @group.id %>
                    <%= f.submit "参加",class:"btn btn-success" %>
                    <% end %>
                  <% end %>
                </td>
              </tbody>
            </table>
        <% else %>
          <p>一致するグループ招待コードが見つかりませんでした</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>