<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-dinosaur09.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">グループ検索</span></h3>
    <%= image_tag 'illustrain02-dinosaur10.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur07.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <%= form_tag({controller:"groups",action:"search"},method: :get) do %>
      <table class = "table-margin1">
        <tr>
          <td><span>グループ招待コード</span></td>
          <td><%=text_field_tag :token, style: "width:90%" %></td>
          <td><%=submit_tag "検索",class:"btn btn-stitch-pink1" %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class = "row">
    <div class = "col-md-6 table-margin1">
      <% unless @first %>
        <% if @group %>
          <h4><span class="font-weight-bold center">グループ検索結果</span></h4>
            <table class = "table">
              <thead class = "pink">
                <th>グループ名</th>
                <th>メンバー</th>
                <th></th>
              </thead>
              <tbody>
                <td><%= @group.name %></td>
                <td>
                  <% @group.customers.each do |member| %>
                    <%= member.name %><br>
                  <% end %>
                </td>
                <td>
                  <% if current_customer.group_id == @group.id %>
                    参加中
                      <% unless @group.group_leader_customer_id == current_customer.id %>
                        <%= link_to "脱退する",quit_groups_path,class:"btn btn-stitch-red2",data:{confirm:"本当に脱退しますか？"} %>
                      <% end %>
                  <% else %>
                    <%= form_with model: @customer,url: join_groups_path do |f| %>
                    <%= f.hidden_field :group_id, :value => @group.id %>
                    <%= f.submit "参加",class:"btn btn-stitch-pink1" %>
                    <% end %>
                  <% end %>
                </td>
              </tbody>
            </table>
        <% else %>
          <p>一致するグループ招待コードが見つかりませんでした</p>
        <% end %>
      <% end %>
    </div>
    <div class = "offset-md-1 col-md-5">
    </div>
  </div>
</div>