<div class="container">
  <h5><span class="bg-light text-dark">グループ</span></h5>
  <span class="font-weight-bold">登録情報</span>
  <%= link_to "編集する",edit_groups_path,class:"btn btn-success" %><br>
  
  <table border="1" style="border-collapse: collapse">
    <tr>
      <td class="bg-light">グループ名</td>
      <td width="300">
        <% if @group.name.nil? %>
          グループ名の登録がありません。
        <% else %>
          <%=@group.name %>
        <% end %>
      </td>
    </tr>
    <tr>
        <td class="bg-light">グループ招待コード</td>
        <td>
          <%=@group.token %>
        </td>
    </tr>
  </table>
  
  <%=link_to "グループに参加する",search_groups_path,class:"btn btn-success" %><br>
  
  <span class="font-weight-bold">所属メンバー</span>
  <% if @group.group_leader_customer_id.nil? %>
    <table border="1" style="border-collapse: collapse">
      <thead class="table-light">
        <tr>
          <th>リーダー</th>
          <th>メンバー</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <% if @group.group_leader_customer_id.nil? %>
              <% else %>
                〇
              <% end %>
            </td>
            <td><%=member.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <table border="1" style="border-collapse: collapse">
      <thead class="bg-light">
        <tr>
          <th>リーダー</th>
          <th>メンバー</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <% if @group.group_leader_customer_id.nil? %>
              <% else %>
                〇
              <% end %>
            </td>
            <td><%=member.name %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
