<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-dinosaur09.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">グループ</span></h3>
    <%= image_tag 'illustrain02-dinosaur10.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur07.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <% if @group.group_leader_customer_id == current_customer.id %>
      <div class = "col-md-5 top-body-margin bottom-margin">
        <div class = "row">
          <div class = "col-md-5 font-weight-bold top-body-margin">登録情報</div>
          <div class = "col-md-7" align = "right">
            <div><%= link_to "編集する",edit_groups_path, class:"btn btn-stitch-pink1" %></div>
          </div>
        </div>
        <table class = "Speech-bubble-pink" cellpadding="20">
          <tr class = "Speech-bubble-tr">
            <td class="Speech-bubble-th-pink Speech-bubble-th-pink:after">グループ名</td>
            <td width="300" class = "gray">
              <% if @group.name.nil? %>
                グループ名の登録がありません。
              <% else %>
                <%=@group.name %>
              <% end %>
            </td>
          </tr>
          <tr class = "Speech-bubble-tr Speech-bubble-tr:last">
              <td class="Speech-bubble-th-pink Speech-bubble-th-pink:after">グループ招待コード</td>
              <td class = "gray">
                <%=@group.token %>
              </td>
          </tr>
        </table>
      </div>
      <div class = "offset-md-1 col-md-6">
        <span class="font-weight-bold">所属メンバー</span>
        <table class = "table table-striped">
          <thead class = "pink">
            <tr>
              <th>リーダー</th>
              <th>メンバー</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td>
                  <% if @group.group_leader_customer_id == member.id %>
                    〇
                  <% end %>
                </td>
                <td><%=member.name %></td>
                <td>
                  <% unless @group.group_leader_customer_id == member.id %>
                    <%= form_with model: member,url: out_groups_path do |f| %>
                    <%= f.hidden_field :customer_id, :value => member.id %>
                    <%= f.submit "脱退させる",class:"btn btn-stitch-pink2",data:{confirm:"本当に脱退させますか？"} %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%=link_to "グループに参加する",search_groups_path,class:"btn btn-stitch-pink1" %>
      </div>
    <% else %>
      <div class = "col-md-5 top-body-margin bottom-margin">
        <div class = "row">
          <div class = "col-md-5 font-weight-bold top-body-margin">登録情報</div>
          <div class = "col-md-7" align = "right">
            <div><%= link_to "脱退する",quit_groups_path,class:"btn btn-stitch-red2",data:{confirm:"本当に脱退しますか？"} %></div>
          </div>
        </div>
        <table class = "Speech-bubble-pink" cellpadding="20">
          <tr class = "Speech-bubble-tr">
            <td class="Speech-bubble-th-pink Speech-bubble-th-pink:after">グループ名</td>
            <td width="300" class = "gray">
              <% if @group.name.nil? %>
                グループ名の登録がありません。
              <% else %>
                <%=@group.name %>
              <% end %>
            </td>
          </tr>
          <tr class = "Speech-bubble-tr Speech-bubble-tr:last">
              <td class="Speech-bubble-th-pink Speech-bubble-th-pink:after">グループ招待コード</td>
              <td class = "gray">
                <%=@group.token %>
              </td>
          </tr>
        </table>
      </div>
      <div class = "offset-md-1 col-md-6">
        <span class="font-weight-bold">所属メンバー</span>
          <table class = "table table-striped">
            <thead class="pink">
              <tr>
                <th>リーダー</th>
                <th>メンバー</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td>
                    <% if @group.group_leader_customer_id == member.id %>
                      〇
                    <% end %>
                  </td>
                  <td><%=member.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%=link_to "グループに参加する",search_groups_path,class:"btn btn-stitch-pink1" %>
      </div>
    <% end %>
  </div>
</div>
