<div class="container">  
  <h5><span class="bg-light text-dark">生活用品編集</span></h5>
    <% if @livingware.errors.any? %>
      <div class="alert alert-danger">
        <%= @livingware.errors.count %>件のエラーが発生しました
        <ul>
          <% @livingware.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
  <%= form_with model: @livingware,url:livingware_path do |f| %>
  <table align="center">
    <tr>
      <td>
        <label for="inputGenre_id">カテゴリー</label>
      </td>
      <td>
        <div><%=f.collection_select(:category_id, @categories, :id, :name) %></div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="inputName">生活用品</label>
      </td>
      <td>
        <div><%=f.text_field:name,autofocus:true,placeholder:"生活用品名", style: "width:100%" %></div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="inputPrice">保管数</label>
      </td>
        <td>
         <div><%=f.select :amount, *[0..100], style: "width:25%" %></div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="inputPrice">基準数</label>
      </td>
      <td>
        <div><%=f.select :amount_standard, *[0..100], style: "width:25%" %></div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="inputIntroduction">備考</label>
      </td>
      <td>
        <div><%=f.text_area:note,autofocus:true,placeholder:"保管場所等、補足で記述したいことがあれば記述してください", style: "width:100%" %></div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="inputImage">生活用品の画像</label>
      </td>
      <td>
        <div><%=f.file_field:livingware_image,placeholder:"生活用品画像",accept:"image/*" %></div>
      </td>
    </tr>
  </table>
    
  <div align="center">
    <%=f.submit '変更を保存',class:"btn btn-success" %>
  <% end %>
  </div>
</div>