<div class="container"> 
  <div class = "row">
    <h5><span class="bg-light text-dark">生活用品一覧</span></h5>
    <div style="margin-left: auto;">
      <%=link_to new_livingware_path,class:"d-flex justify-content-end" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>変更</th>
          <th>カテゴリー</th>
          <th>生活用品</th>
          <th>保管数</th>
          <th>基準数</th>
          <th>備考</th>
        </tr>
      </thead>
  
      <tbody class="table-borderless">
  
          <tr>
            <% @livingwares.each do |livingware| %>
            <td>
              <%=livingware.category.name %>
            </td>
            <td>
              <%=link_to livingware_path(livingware.id),class:"text-dark" do %>
              <%=livingware.name %>
              <% end %>
            </td>
            <td>
              <%=livingware.amount.to_s(:delimited) %>
            </td>
            <td>
              <%=livingware.amount_standard.to_s(:delimited) %>
            </td>
            <td>
              <%=livingware.note %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>
