<div class="container"> 
  <div class = "row">
    <%= image_tag 'illustrain02-cat19.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">生活用品一覧</span></h3>
    <%= image_tag 'illustrain02-cat25.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-cat29.png', :size => '110x110' %>
    <div style = "margin: auto;">
      <%=link_to "生活用品を登録する",new_livingware_path,class:"btn-stitch-orange" %>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead class="orange">
        <tr>
          <th></th>
          <th>変更</th>
          <th>カテゴリー</th>
          <th>生活用品</th>
          <th>保管数</th>
          <th>基準数</th>
          <th>備考</th>
        </tr>
      </thead>
  
      <tbody class="table-borderless">
        <%= form_with url:log_livingwares_path,method: :post do |fb| %>
          <% @livingwares.each do |livingware| %>
            <%= fb.fields_for "livingware[]", livingware do |f| %>
              <tr>
                <td class="text-danger font-weight-bold">
                  <% if livingware.to_buy_judge.negative? %>
                    購入必要
                  <% end %>
                </td>
                <td><%=f.check_box :id, { checked: false, include_hidden: false },livingware.id %></td>
                <td>
                  <%=livingware.category.name %>
                </td>
                <td>
                  <%=link_to livingware_path(livingware.id),class:"text-dark" do %>
                  <%=livingware.name %>
                  <% end %>
                </td>
                <td>
                  <%= f.select :amount, *[0..100] %>
                </td>
                <td>
                  <%=livingware.amount_standard.to_s(:delimited) %>
                </td>
                <td>
                  <%=livingware.note %>
                </td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
      <%= fb.submit '確認画面に進む' ,class:"btn-stitch-orange" %>
    <% end %>
  </div> 
</div>