<div class="container">
  <div class = "row display-box">
    <%= image_tag 'illustrain02-cat19.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">生活用品詳細</span></h3>
    <%= image_tag 'illustrain02-cat25.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-cat29.png', :size => '110x110' %>
  </div>
  <div class = "small-display-box top-body-margin">
    <h3><span class="font-weight-bold center">生活用品詳細</span></h3>
    <%= image_tag 'illustrain02-cat19.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-cat25.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-cat29.png', :size => '110x110' %>
  </div>
  <div class="row">
    <div class = "col-md-5 col-12 picture" align = "center">
      <%= image_tag @livingware.get_livingware_image(200,300) %>
    </div>
    <div class = "col-md-7 col-12" align = "center">
      <table>
        <tr>
          <td width = "100">カテゴリー</td>
          <td>
            <%=@livingware.category.name %>
          </td>
        </tr>
        <tr>
        　<td>生活用品</td>
          <td>
            <%=@livingware.name %>
          </td>
        </tr>
        <tr>
          <td>保管数</td>
          <td>
            <%=@livingware.amount.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td>基準数</td>
          <td>
            <%=@livingware.amount_standard.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td valign="top">備考</td>
          <td>
            <%=@livingware.note %>
          </td>
        </tr>
      </table>
      <div class = "margin3">
        <%=link_to "編集する", edit_livingware_path(@livingware.id),class:"btn btn-stitch-orange" %>
        <%=link_to "削除する", livingware_path(@livingware.id),method: :delete, data: {confirm: "本当に削除しますか？"},class:"btn btn-stitch-red1" %>
        <div><%=link_to "生活用品一覧に戻る", livingwares_path,class:"btn btn-stitch-orange" %></div>
      </div>
    </div>
  </div>
</div>