<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-bird12.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">管理者ログイン</span></h3>
    <%= image_tag 'illustrain02-tropical03.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-bird10.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <div class="field">
            <td>
              <%= f.label :メールアドレス %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:90%" %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td>
              <%= f.label :パスワード %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", style: "width:90%" %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="actions">
            <td colspan = "2" align = "center">
              <%= f.submit "ログイン",class:"btn btn-stitch-green" %>
            </td>
          </div>
        </tr>
      </table>
    <% end %>
  </div>
</div>