<div class="container"> 
  <div class = "row">
    <h5><span class="bg-light text-dark">買い物リスト</span></h5>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>変更</th>
          <th>カテゴリー</th>
          <th>生活用品</th>
          <th>保管数</th>
          <th>基準数</th>
          <th>購入数</th>
          <th>備考</th>
        </tr>
      </thead>
  
      <tbody class="table-borderless">
            <%= form_with model:@livingware,url:log_livingwares_path,method: :post do |f| %>
            <% @livingwares.each do |livingware| %>
            <% if livingware.to_buy_judge.negative? %>
          <tr>
            <td><%=check_box_tag :change%></td>
            <td>
              <%=livingware.category.name %>
            </td>
            <td>
              <%=link_to livingware_path(livingware.id),class:"text-dark" do %>
              <%=livingware.name %>
              <% end %>
            </td>
            <td>
              <%=livingware.amount.to_s(:delimited) %>
            </td>
            <td>
              <%=livingware.amount_standard.to_s(:delimited) %>
            </td>
            <td>
              <%=f.select :buy_amount, *[0..100], style: "width:25%" %>
            </td>
            <td>
              <%=livingware.note %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= f.submit '確認画面に進む' ,class:"btn btn-primary" %>
    <% end %>
  </div> 
</div>