<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-bird04.png', :size => '110x110' %>
    <h3><span class = "font-weight-bold center">カテゴリー登録/一覧</span></h3>
    <%= image_tag 'illustrain02-bird20.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-bird19.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <div class = "col-6">
        <% if @category.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @category,url: admin_master_categories_path,local:true do |f| %>
        <table class = "table-margin1">
          <tr>
            <div class="field">
              <td>
                <%= f.label :カテゴリー %>
              </td>
              <td>
                <%= f.text_field :name, placeholder:"キッチン" %>
              </td>
            </div>
            <td>
              <%= f.submit '新規登録',class:"btn btn-stitch-purple" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class = "col-4">
      <table class ="table margin-none table-margin2">
        <thead class = "purple" align = "center">
          <tr>
            <th colspan = "2">カテゴリー</th>
          </tr>
        </thead>
        <% @categories.each do |categories| %>
        <tbody>
          <tr>
            <td align = "center">
              <%=categories.name %>
            </td>
            <td align = "center">
              <%=link_to "編集する", edit_admin_master_category_path(categories.id),class:"btn btn-stitch-purple" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>