<div class="container">
  <div class = "top-margin">
    <h1 class="text-center top-body-margin">
      あなたも生活用品の保管管理を<br>
      始めてみませんか？
    </h1>
    <h5 class="text-center top-body-margin">
      保管管理を始める♪
    </h5>
    <div class="text-center top-body-margin">
      <%= link_to "新規登録", new_customer_registration_path,class:"btn btn-stitch-light-blue" %>
      <%= link_to "ログイン", new_customer_session_path,class:"btn btn-stitch-pink1" %>
    </div>
  </div>
  <div class = "row">
    <div class = "offset-md-1 col-md-2 col-sm-4 col-6 d-flex justify-content-center align-items-center">
      <%= image_tag 'illustrain02-cleaning03.png', :size => '110x110' %>
    </div>
    <div class = "col-md-2 col-sm-4 col-6 d-flex justify-content-center align-items-center">
      <%= image_tag 'illustrain07-kicchin13.png', :size => '110x110' %>
    </div>
    <div class = "col-md-2 col-sm-4 col-6 d-flex justify-content-center align-items-center">
      <%= image_tag 'illustrain02-bath05.png', :size => '110x110' %>
    </div>
    <div class = "col-md-2 col-sm-6 col-6 d-flex justify-content-center align-items-center">
      <%= image_tag 'illustrain02-cleaning05.png', :size => '110x110' %>
    </div>
    <div class = "col-md-2 col-sm-6 col-12 d-flex justify-content-center align-items-center">
      <%= image_tag 'illustrain02-cleaning10.png', :size => '110x110' %>
    </div>
    <div class = "offset-md-1"></div>
  </div>
</div>