<div class = "container">
    <h5><span class="bg-light text-dark">お問い合わせ一覧</span></h5>

    <table class="table">
        <thead class="table-light">
          <tr>
            <th>問合せ日時</th>
            <th>会員名</th>
            <th>タイトル</th>
            <th>対応ステータス</th>
          </tr>
        </thead>

        <tbody>
            <tr>
                <% @inquiries.each do |inquiries| %>
              <td>
                <%=link_to admin_inquiry_path(inquiries.id) do %>
                <%= inquiries.created_at.strftime('%Y/%-m/%-d %H:%M:%S') %>
                <% end %>
              </td>
              <td>
                <%=inquiries.customer.name %>
              </td>
              <td>
                <%=inquiries.title %>
              </td>
              <td>
                <% if inquiries.waiting? %>
                未対応
                <% elsif inquiries.working? %>
                対応中
                <% else %>
                対応済
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>




    <div class ="d-flex justify-content-center">
        <%= paginate @inquiries %>
    </div>
</div>