<div class="container">
  <div class = "row">
    <%= image_tag 'illustrain02-bird04.png', :size => '110x110' %>
    <h3><span class = "font-weight-bold center">カテゴリー変更</span></h3>
    <%= image_tag 'illustrain02-bird20.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-bird19.png', :size => '110x110' %>
  </div>
  <% if @category.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= form_with model: @category,url: category_path,local:true do |f| %>
    <table class = "table-margin1">
      <tr>
        <div class="field">
          <td>
            <%= f.label :カテゴリー %>
          </td>
          <td>
            <%= f.text_field :name, placeholder:"キッチン" %>
          </td>
        </div>
        <td>
          <%= f.submit '変更内容を保存',class:"btn btn-stitch-purple" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>