<div class="container">
    <h5><span class="bg-light text-dark">カテゴリー登録/一覧</span></h5>
        <% if @category.errors.any? %>
            <div class="alert alert-danger">
                <%= @category.errors.count %>件のエラーが発生しました
                <ul>
                    <% @category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    
    <%= form_with model: @category,url: categories_path,local:true do |f| %>
    <table>
        <tr>
            <div class="field">
                <td>
                    <%= f.label :カテゴリー %>
                </td>
                <td>
                    <%= f.text_field :name, placeholder:"キッチン" %>
                </td>
            </div>
        </tr>
    </table>
    
    <div align="right">
      <%= f.submit '新規登録',class:"btn btn-success" %>
    </div>
    <% end %>
    
    <table border="1" style="border-collapse: collapse">
        <thead class="bg-light">
          <tr>
            <th>カテゴリー</th>
            <th></th>
          </tr>
        </thead>
        <% @categories.each do |categories| %>
        <tbody>
            <tr>
                <td>
                    <%=categories.name %>
                </td>
                <td>
                    <%=link_to "編集する", edit_category_path(categories.id),class:"btn btn-success" %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>