<div class = "container">
  <div class = "row">
    <%= image_tag 'illustrain02-sentaku10.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">新規会員登録</span></h3>
    <%= image_tag 'illustrain02-sentaku08.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-sentaku09.png', :size => '110x110' %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <%= render partial: 'public/shared/flash_message' %>
  
    <table>
      <tr>
        <div class="field">
          <td>
            <%= f.label :ニックネーム %>
          </td>
          <td>
            <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder:"太郎" %>
            ※ネット上に公開される名前です
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label :メールアドレス %>
          </td>
          <td>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </td>
        </div>
      </tr>
      
      <tr>
        <div class="field">
          <td>
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 字以上)
            <% end %>
          </td>
          <td>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label :パスワード %>(確認用)
          </td>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit "新規会員登録",class:"btn btn-stitch-light-blue" %>
    </div>
    <% end %>
  </div>
  <div class = "row">
    <h5><span class="font-weight-bold center">既に登録済みの方は
    <%=link_to "こちら",new_customer_session_path,class:"btn btn-stitch-pink1" %> からログインしてください
    </span></h5>
  </div>
</div>