<div class="container">
  <div class = "row display-box">
    <%= image_tag 'illustrain02-dinosaur09.png', :size => '110x110' %>
    <h3><span class="font-weight-bold center">お問い合わせ</span></h3>
    <%= image_tag 'illustrain02-dinosaur10.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur07.png', :size => '110x110' %>
  </div>
  <div class = "small-display-box top-body-margin">
    <h3><span class="font-weight-bold center">お問い合わせ</span></h3>
    <%= image_tag 'illustrain02-dinosaur09.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur10.png', :size => '110x110' %>
    <%= image_tag 'illustrain02-dinosaur07.png', :size => '110x110' %>
  </div>
  <div class = "row">
    <div class = "col-md-10">
      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger">
          <%= @inquiry.errors.count %>件未入力箇所があります。入力してください。
            <ul>
              <% @inquiry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <p>お問い合わせありがとうございます。<br>
         回答は会員登録いただいておりますメールアドレスに送信いたします。<br>
         もし異なるメールアドレスに送信をご希望される場合は内容にメールアドレスの記載をお願いいたします。</p>
      <%= form_with model: @inquiry,url: @inquiries_path,local:true do |f| %>
        <table>
          <tr>
            <div class="field">
              <td width = "100">
                <%= f.label :タイトル %>
              </td>
              <td>
                <%= f.text_field :title, class:"message_box", style: "width:100%" %>
              </td>
            </div>
          </tr>
          <tr>
            <div class="field">
              <td>
                <%= f.label :内容 %>
              </td>
              <td>
                <%= f.text_area :body, class:"message_box", style: "width:100%" %>
              </td>
            </div>
          </tr>
          <tr>
            <td colspan = "2" align ="center">
              <%= f.submit '送信',class:"btn btn btn-stitch-pink1", data: {confirm: "問い合わせ内容を送信します。よろしいですか？"} %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class = "col-md-2">
    </div>
  </div>
</div>