<!DOCTYPE html>
<html>
  <head>
    <title>LivingwareManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom navbar-dark bg">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <h4><%= link_to 'リブズマネ', admin_root_path, class:"navbar-brand text-secondary" %></h4>
          <% else %>

          <% end %>
          <% if customer_signed_in? %>
          　<div class="mx-auto">ようこそ、<%= current_customer.name %>さん！</div>
          <% end %>
          <div>
          　<ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                
              <% elsif admin_signed_in? %>
                <li class="mx-3">
                  <%= link_to "会員一覧", admin_customers_path,class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to "お問い合わせ一覧", admin_root_path,class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:"btn btn-outline-secondary" %>
                </li>
          
              <% else %>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    
    <%= yield %>
  </body>
</html>
